<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f1f1f1;
      }

      .integration-form {
        width: 90%;
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
        background-color: #ffffff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }

      .integration-caption {
        font-size: 24px;
        color: blue;
        padding: 10px;
      }

      .integration-row {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
      }

      .integration-label {
        text-align: left;
        padding-right: 10px;
      }

      .integration-input {
        padding: 10px;
        margin: 5px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
      }

      .checkout-button {
        padding: 8px 15px;
        background-color: #4caf50;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
        margin-top: 20px;
      }

      .checkout-button:hover {
        background-color: #45a049;
        transform: scale(1.05);
      }

      @media screen and (max-width: 480px) {
        .integration-form {
          width: 90%;
          max-width: 300px;
        }
      }
    </style>
  </head>
  <body>
    <form
      method="POST"
      name="customerData"
      action="https://api.speakerore.com/api/ccavRequestHandler"
      class="integration-form"
    >
      <div class="integration-caption">Checkout Preview</div>
      <div class="integration-row">
        <label for="merchant_id" class="integration-label">Merchant Id:</label>
        <input
          type="text"
          name="merchant_id"
          id="merchant_id"
          value="2560771"
          readonly
          class="integration-input"
        />
      </div>
      <div class="integration-row">
        <label for="order_id" class="integration-label">Order Id:</label>
        <input
          type="text"
          name="order_id"
          id="order_id"
          value={{order_id}}
          readonly
          class="integration-input"
        />
      </div>
      <div class="integration-row">
        <label for="currency" class="integration-label">Currency:</label>
        <input
          type="text"
          name="currency"
          id="currency"
          value={{currency}}
          readonly
          class="integration-input"
        />
      </div>
      <div class="integration-row">
        <label for="amount" class="integration-label">Amount:</label>
        <input
          type="text"
          name="amount"
          id="amount"
          value={{amount}}
          readonly
          class="integration-input"
        />
      </div>
      <div class="integration-row">
        <label for="redirect_url" class="integration-label"></label>
        <input
          type="text"
          name="redirect_url"
          value="https://api.speakerore.com/api/ccavResponseHandler"
          style="display: none"
          readonly
          class="integration-input"
        />
      </div>
      <div class="integration-row">
        <label for="cancel_url" class="integration-label"></label>
        <input
          type="text"
          name="cancel_url"
          value="https://api.speakerore.com/api/ccavResponseHandler"
          style="display: none"
          readonly
          class="integration-input"
        />
      </div>
      <div class="integration-row">
        <label for="language" class="integration-label">Language:</label>
        <input
          type="text"
          name="language"
          id="language"
          value="EN"
          readonly
          class="integration-input"
        />
      </div>
      <div class="integration-row">
        <label for="merchant_param1" class="integration-label"
          >Merchant Param1:</label
        >
        <input
          type="text"
          name="merchant_param1"
          id="merchant_param1"
          value={{merchant_param1}}
          readonly
          class="integration-input"
        />
      </div>
      <div class="integration-row">
        <label for="merchant_param2" class="integration-label"
          >Merchant Param2:</label
        >
        <input
          type="text"
          name="merchant_param2"
          id="merchant_param2"
          value={{merchant_param2}}
          readonly
          class="integration-input"
        />
      </div>
      <div class="integration-row">
        <label class="integration-label"></label>
        <input type="submit" value="Checkout" class="checkout-button" />
      </div>
    </form>
  </body>
</html>

